@model IEnumerable<Artwork>
@{
    ViewData["Title"] = "Artworks Gallery";
}

<div class="row" data-masonry='{"percentPosition": true }'>
    @foreach (var artwork in @Model) {
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <div class="card position-relative" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#artworkDetailsModal-@(artwork.Id)">
                <img src="@artwork.ImageUrl" class="card-img-top" alt="...">
                <div class="card-img-overlay d-flex align-items-end">
                    <div class="bg-black-overlay w-100 text-white">
                        <p class="card-text mt-auto">@artwork.Title</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@foreach(var artwork in @Model) {
    <!-- Modal -->
    <div class="modal fade" id="artworkDetailsModal-@(artwork.Id)" tabindex="-1" aria-labelledby="artworkDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-body">
                <partial name="_ArtworkDetail" model="@artwork" />
            </div>
        </div>
    </div>
} 