@{
    ViewData["Title"] = "Welcome to ArtPortfolio";
}

<h2>Welcome to ArtPortfolio</h2>
<p>To view your profile and manage your portfolio, please <a asp-controller="Account" asp-action="SignUp">sign up</a> or <a asp-controller="Account" asp-action="LogIn">log in</a>.</p>

